/* 
*	
*	CSSG Collections: Forms
*	designed and coded by Alen Grakalic (http://cssglobe.com)
*	brought to you by Templatica (http://templatica.com)
*
*/

body{ 
	background:#f8f8f8;
	font:13px Trebuchet MS, Arial, Helvetica, Sans-Serif;
	color:#2F2F6B;
	line-height:160%;
	margin:0;
	padding:0;
	text-align:center;
	}

h1{
	font-size:200%;
	font-weight:normal;
	}		
h2, h3, h4, h5, h6{
	font-weight:normal;
	margin:1em 0;
	}	
h2{            
	font-size:160%;
	}	
h3{          
	font-size:140%;
	}
h4{          
	font-size:120%;
	}				

a{
	text-decoration:none;
	color:#427597;
	}
a:hover{
	color:#2F2F6B;
	}			
table, input, textarea, select, li{
	font:100% Trebuchet MS, Arial, Helvetica, Sans-Serif;
	line-height:160%;
	}				
p, blockquote, ul, ol, form{
	margin:1em 0;
	}
blockquote{
	}
img{
	border:none;
	}			
	
table{
	margin:1em 0;
	width:100%;
	border-collapse:collapse;
	}
th, td{	
	padding:2px 5px;
	}	
th{	
	text-align:left;
	}
li{
	display:list-item;
	}	
	
#container{	
	margin:0 auto;
	background:#fff;
	width:900px;
	padding:20px 40px;
	text-align:left;
	}
	
.response{
	border: 1px solid #781351;
	padding: 5px 5px 5px 5px;
	overflow:auto;
}
.responseWait{
	border: 1px solid #781351;
	padding: 5px 5px 5px 5px;
	overflow:auto;
	background: #fff url(../ajax-loader.gif) no-repeat center;
}

.responseResult{
	border: 1px solid #781351;
	padding: 5px 5px 5px 5px;
	overflow:auto;
}



	#form2{
		margin:1em 0;
		color:#fff;
		width:320px; /* customize width, this form have fluid layout */
		}
	#form2 h3{
		margin:0;
		background:#57a700 url(../images/form2/bg-header.jpg) repeat-x;		
		color:#fff;
		font-size:14px;
		/*border:1px solid #FFFFFF;*/
		border-bottom:none;
		}		
	#form2 h3 span{
		display:block;
		padding:10px 20px;		
		}				
	#form2 fieldset{
		margin:0;
		padding:0;
		border:none;	
		border-top:3px solid #000;
		background:#D8D8D8;		
		padding-bottom:1em;
		}		
	#form2 legend{display:none;}	
	#form2 p{margin:.5em 20px;}	
	#form2 label{display:block;font-weight:bold;color:#000;}	
	#form2 input, #form2 textarea{		
		width:272px;
		border:1px solid #111;
		/*background:#282828 url(../images/form2/form_input.gif) repeat-x;*/
		padding:5px 3px;
		color:#2F2F6B;
		}		
	#form2 textarea{
		height:125px;
		overflow:auto;
		}					
	#form2 p.submit{
		text-align:right;
		}	
	#form2 button{
		padding:0 20px;
		height:32px;
		line-height:32px;		
		border:1px solid #FFFFFF;
		background:#5aae00 url(../images/form2/bg-header.jpg) repeat-x;
		color:#fff;
		cursor:pointer;		
		text-align:center;		
		}		

		
#navigation {
  margin: 0 ;
  padding: 0 ;
  list-style: none ;
  text-align: center ;
}

#navigation li {
  display: inline ;
  margin-right: 1px ;
  color: #fff ;
  background: #c00 ;
}		

#navigation li a {
  padding: 4px 20px ;
  background: #5aae00 url(../images/form2/bg-header.jpg) repeat-x ;
  color: #fff ;
  border:1px solid #FFFFFF;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
}

#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  background:#5aae00 url(../images/form2/bg-header.jpg) repeat-x ;
  text-decoration: underline ;
}


